* {
  box-sizing: border-box;
}

.text {
  color: #2987A3;


  h5 {
    padding-bottom: 15px;
  }

  h4 {
    padding-top: 10px;
  }

  h3 {
    color: #BBFBFE;
  }
}


body {
  height: 100vh;
  background: linear-gradient( 0deg, #1796B9, #B2F3FA);
}
